@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-neutral-900 dark:bg-neutral-900 dark:text-white;
}

@media screen and (min-width: 640px) {
  html ::-webkit-scrollbar {
    width: 6px;
  }
  html ::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 30px;
  }
  html ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 30px;
  }
  html ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

  html.dark ::-webkit-scrollbar-track {
    background: #404040;
  }
  html.dark ::-webkit-scrollbar-thumb {
    background: #888;
  }
  html.dark ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
}
