@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
  @apply bg-neutral-100 dark:bg-zinc-800;
}
.Toastify__toast-body {
  @apply text-neutral-900 dark:text-white;
}
.Toastify__close-button > svg {
  @apply dark:text-white;
}

@media screen and (min-width: 640px) {
  html ::-webkit-scrollbar {
    width: 6px;
  }
  html ::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 30px;
  }
  html ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 30px;
  }
  html ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

  html.dark ::-webkit-scrollbar-track {
    background: #404040;
  }
  html.dark ::-webkit-scrollbar-thumb {
    background: #888;
  }
  html.dark ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
}
